{%extends 'resume/html/base.html'%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'resume/css/contacts.css'%}">
{%endblock head%}
{%block body%}
<section class="section" id="about">
        <div class="container">
            <div class="section__header">
                <h2 class="section__title__contacts">Контакты</h2>
            </div>
            <div class="section__text">
                <p>   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, optio cum. Rem vitae at dolores,
                    aperiam sequi repudiandae ea totam eveniet consectetur corporis. Quidem ipsa quasi laboriosam
                    mpedit perspiciatis temporibus quas cum velit in natus consectetur cupiditate fugiat dolorem
                    suscipit distinctio ea excepturi asperiores quod, esse voluptatem repellendus numquam eum modi!
                    Totam iusto odit praesentium, ex quam temporibus ratione ut iure vero aspernatur, explicabo
                    voluptatum libero eaque enim error provident esse quidem? Quidem fugiat, possimus autem corporis
                    eveniet natus aliquid hic quod quo eum nam neque labore provident, architecto esse ad sunt soluta
                    obcaecati rerum porro ratione eligendi nulla inventore optio. Commodi veritatis ducimus quisquam
                    voluptatum suscipit sed blanditiis rerum incidunt, possimus aut et esse optio at cum velit
                    perspiciatis dolorem molestiae dicta error praesentium odio officia, inventore sunt! Tenetur,
                    odit soluta non aspernatur nihil fugit unde cum id fugiat consectetur quidem, amet rerum neque
                    voluptatum architecto eveniet perferendis officiis!</p>
            </div>
        </div>
</section>
{%endblock body%}