{%extends 'resume/html/base.html'%}
{%load static%}
{%block body%}
<div class="main">
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h1 class="intro__title">Конструктор резюме</h1>
                <a class="btn" href="{%url 'resume'%}">Создать резюме</a>
            </div>
        </div>
        <div class="intro_under">
            <div class="container">
                <div class="intro_under_inner">
                    {%for under_items in intro_under%}
                    <div class="intro_under_item"><a href="#" data-scroll="{{under_items.data_scroll}}" class="intro_under_links">{{under_items.under_text}}</a></div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="about">
        <div class="container">
            <div class="section__header">
                <h2 class="section__title">Конструктор резюме</h2>
                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quam accusantium, placeat laborum iste vel iure quasi obcaecati nihil dolore quod praesentium ab, beatae voluptatibus numquam doloribus assumenda ea. Id officiis voluptatum atque quae sint tempora eos repudiandae, illo quisquam perferendis similique eveniet. Nostrum in illum animi sunt corporis aperiam?</p>
                </div>
            </div>
            <div class="about_pic">
                <div class="about_pic__item">
                    <div class="about_pic__inner">
                        <div class="about_pic__img">
                            <img src="{%static 'resume/img/about/template.jpg'%}" alt="">
                        </div>
                        <div class="about_pic__text">Lorem</div>
                    </div>
                </div>
                <div class="about_pic__item">
                    <div class="about_pic__inner">
                        <div class="about_pic__img">
                            <img src="{%static 'resume/img/about/template.jpg'%}" alt="">
                        </div>
                        <div class="about_pic__text">Lorem</div>
                    </div>
                </div>
                <div class="about_pic__item">
                    <div class="about_pic__inner">
                        <div class="about_pic__img">
                            <img src="{%static 'resume/img/about/template.jpg'%}" alt="">
                        </div>
                        <div class="about_pic__text">Lorem</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="benefits">
        <div class="container">
            <div class="section__header">
                <h2 class="section__title">Преимущества</h2>
            </div>
            <div class="benefits">
                <div class="benefits__item  benefits__item--border">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/1.png'%}" alt="">
                    <div class="benefits__title">Доступность</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
                <div class="benefits__item  benefits__item--border">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/2.png'%}" alt="">
                    <div class="benefits__title">Адаптивность</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
                <div class="benefits__item  benefits__item--border">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/3.png'%}" alt="">
                    <div class="benefits__title">Большой выбор шаблонов</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
                <div class="benefits__item  ">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/4.png'%}" alt="">
                    <div class="benefits__title">Помощь</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
                <div class="benefits__item">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/5.png'%}" alt="">
                    <div class="benefits__title">Удобный интерфейс</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
                <div class="benefits__item">
                    <img class="benefits__icon" src="{%static 'resume/img/benefits/6.png'%}" alt="">
                    <div class="benefits__title">Возможность выделить только главное</div>
                    <div class="benefits__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="creation">
        <div class="container" >
            <div class="section__header">
                <h2 class="section__title">Процесс создания</h2>
                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="creation">
                <div class="creation__item">
                    <img class="creation__img" src="{%static 'resume/img/wedo.jpg'%}" alt="">
                </div>
                <div class="creation__item">
                    <div class="creation_acc">
                        <div class="creation_acc__item" data-collapse="#creation_1">
                            <div class="creation_acc__header">
                                <img class="creation_acc__icon" src="{%static 'resume/img/creation/9.png'%}" alt="">
                                <div class="creation_acc__title">Заполнение формы</div>
                            </div>
                            <div class="creation_acc__content" id="creation_1">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="creation_acc__item " data-collapse="#creation_2">
                            <div class="creation_acc__header">
                                <img class="creation_acc__icon" src="{%static 'resume/img/creation/7.png'%}" alt="">
                                <div class="creation_acc__title">Выбор шаблона резюме</div>
                            </div>
                            <div class="creation_acc__content" id="creation_2">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="creation_acc__item" data-collapse="#creation_3">
                            <div class="creation_acc__header">
                                <img class="creation_acc__icon" src="{%static 'resume/img/creation/8.png'%}" alt="">
                                <div class="creation_acc__title">Скачивание готового резюме</div>
                            </div>
                            <div class="creation_acc__content" id="creation_3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

{%endblock body%}